<lib-form-section
  title="Startup Command"
  i18n-title="Title for the startup command form section"
  helpText="Optionally override the default container entrypoint with a command to run when the container starts."
>
  <mat-form-field appearance="outline" class="wide">
    <mat-label i18n>Startup Command</mat-label>
    <input
      matInput
      value=""
      placeholder="/bin/bash -c 'sleep infinity'"
      [formControl]="parentForm.get('command')"
    />
    <mat-hint i18n>Separate arguments with spaces</mat-hint>
  </mat-form-field>
</lib-form-section>
