iron-ajax#CreateSecretAjax(method='POST', url='/api/secrets/create',
    on-response='handleSecretCreate', on-error='handleSecretCreate', handle-as='json', content-type='application/json')
iron-ajax#ListSecretsAjax(auto='[[!empty(ownedNamespace)]]', url='/api/secrets/list/[[ownedNamespace.namespace]]',
    last-response='{{secretList}}', on-error='onSecretFetchError', handle-as='json')
iron-ajax#DeleteSecretAjax(method='DELETE',
    url='/api/secrets/delete/[[ownedNamespace.namespace]]/[[selectedSecretName]]',
    on-response='handleSecretDelete', on-error='handleSecretDelete', handle-as='json')

h2
    span.text
        | Registry Secrets for -
        code [[ownedNamespace.namespace]]

.content.small
    md2-input(label='Secret Name', value='{{newSecret.name}}')
    md2-input(label='Registry Domain', value='{{newSecret.registry}}')
    md2-input(label='Username', value='{{newSecret.username}}')
    md2-input(label='Password', value='{{newSecret.password}}', type='password')
    md2-input(label='Email', value='{{newSecret.email}}')
    paper-button(raised, on-click='createRegistrySecret') Add Secret

h2 
    span.text
        | Registered Secrets for -
        code [[ownedNamespace.namespace]]
.content.secret-list
    template(is='dom-repeat', items='[[secretList]]')
        paper-chip(on-remove='deleteRegistrySecret', data-name$='[[item]]') [[item]]

paper-toast#SecretError(duration=5000)
    | Failed to fetch registry secrets for {{ownedNamespace.namespace}}, because:
    strong [[secretError]]
