<!-- 박스 없이 바로 폼 필드 노출 -->
<lib-form-section>
  <mat-form-field class="wide" appearance="outline">
    <mat-label i18n>Image</mat-label>
    <input
      matInput
      placeholder="e.g. ghcr.io/my/image:tag"
      [formControl]="parentForm.get('customImage')"
      required
    />
    <mat-error i18n>Please provide an Image to use</mat-error>
  </mat-form-field>

  <div class="row">
    <mat-form-field class="column" appearance="outline">
      <mat-label i18n>Image pull policy</mat-label>
      <mat-select [formControl]="parentForm.get('imagePullPolicy')">
        <mat-option value="Always">Always</mat-option>
        <mat-option value="IfNotPresent">IfNotPresent</mat-option>
        <mat-option value="Never">Never</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</lib-form-section>
